/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
 	
	combo_ret {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp RET>;
        };       
         
	combo_bspc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp BSPC>;
        };
	
	combo_del {
            timeout-ms = <50>;
            key-positions = <28 29>;
            bindings = <&kp DEL>;
        };
	
	combo_tab {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp TAB>;
        };
        
	
        
    };

        keymap {
                compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
		&kp Q      &kp W      &kp E       &kp R          &kp T 			&kp Y        &kp U         &kp I        &kp O       &kp P 
		&mt LGUI A &mt LALT S &mt LCTRL D &mt LSHIFT F   &kp G 			&kp H        &mt RSHIFT J  &mt RCTRL K  &mt RALT L  &mt RGUI SEMI
		&kp Z      &kp X      &kp C       &kp V          &kp B			&kp N        &kp M         &kp COMMA    &kp DOT     &kp FSLH
          	                                  &lt 2 ESC  &lt 3 BSPC		&lt 3 SPACE  &lt 1 RET 
		>;
		};

       		left_layer {
		bindings = < 
		&kp N1      &kp N2    &kp N3      &kp N4         &kp N5			&kp N6 	     &kp N7        &kp N8       &kp N9      &kp N0 
		&kp LG(TAB) &kp LC(S) &kp LG(H)   &kp LG(D)      &kp LG(SPACE) 	&kp LBRC     &kp MINUS     &kp EQUAL    &kp PG_UP   &kp SQT 
		&trans      &trans    &trans      &trans         &trans         &kp RBRC     &kp UNDER     &kp PLUS     &kp PG_DN   &kp NUBS 
					          			  &trans         &kp DEL  		&trans &trans
		>;
		};
		
		right_layer {
		bindings = <
		&kp EXCL     &kp AT   	&kp HASH     &kp DLLR      &kp PRCNT   		&kp CARET    &kp AMPS      &kp STAR     &kp LPAR    &kp RPAR 
		&kp LG(TAB)  &kp LC(S)  &kp LG(H)    &kp LG(D)     &kp LG(SPACE) 	&kp LBKT     &kp UNDER     &kp PLUS     &kp HOME    &kp DQT
		&trans       &trans     &trans       &trans        &trans    		&kp RBKT     &kp MINUS     &kp EQUAL    &kp END     &kp PIPE
					             			 &trans        &trans  			&kp TAB      &trans 
		>;
		};	
		
		tri_layer {
		bindings = <
		&kp GRAVE   &kp TILDE  &kp C_VOL_UP &trans   		&trans 		&trans       &kp PG_UP     &kp UP        &kp PG_DN  &trans
		&kp CAPS    &kp C_NEXT &kp C_VOL_DN &kp C_PP  		&trans  	&trans       &kp LEFT      &kp DOWN      &kp RIGHT  &trans 
		&bt BT_CLR  &bt BT_NXT &bt BT_PRV   &trans    		&trans 		&trans       &kp PG_DN     &kp K_VOL_DN  &trans     &trans   
					               			&kp LC(LG(4)) 	&trans 		&trans       &kp LC(LG(3))
		>;
		};	
        
	};
};
